/* NAVBAR */

/* POSITION */

.svgjs {
    transform: rotateZ(180deg);
}

.navbarjs {
    /* top: 90.5%; */
    bottom: 5px;
}

.positionjs:hover::after {
    content: 'Up';
    font-size: 1.1rem;
    margin-top: -86px;
    margin-left: 10px;
}

.navbarjs > .home-link:hover::after {
    margin-top: -86px;
}

.navbarjs > .info-link:hover::after {
    margin-top: -86px;
}

.navbarjs > .contact-link:hover::after {
    margin-top: -86px;
}

.navbarjs > .sun-theme:hover::after {
    margin-top: -86px;
}

.navbarjs > .moon-theme:hover::after {
    margin-top: -86px;
}

/* THEME */

.bodyjs {
    background: rgb(142, 178, 255);
}