@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');



:root {
    --background-color-of-all: rgb(21,20,25);
    /* --background-color-of-all: #eee0cb; */

    /* --navbar-color: #4b4b4b; */
    --navbar-color: #353c4e;

    --navbar-links-hover-color: #5e6c8b;
    --navbar-links-active-color: #434d63;

    --navbar-fonts: 'Protest Revolution', sans-serif;
    --navbar-fonts2: 'Protest Strike', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--background-color-of-all);
}

/* NAVBAR */

.navbar-container {
    z-index: 999;
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    z-index: 999;
    font-family: var(--navbar-fonts2);
    margin-top: 5px;
    /* top: 10px; */
    position: fixed;
    width: 300px;
    height: 60px;
    background: var(--navbar-color);
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid #535a7785; */
    /* border-bottom: 1px solid orange; */
    /* border-left: 1px solid rgba(255, 166, 0, 0.508);
    border-right: 1px solid rgba(255, 166, 0, 0.551); */
}

.navbar:hover > hr {
    border-left: 1px solid rgb(218, 218, 218);
}

.navbar > hr {
    transition: 100ms linear;
    height: 55px;
    border: 0;
    border-left: 1px solid rgb(123, 123, 123);
    border-radius: 0.2rem;
}

.home-link > a,
.info-link > a,
.contact-link > a,
.sun-theme > svg,
.moon-theme > svg,
.position-changer-link > svg {
    border-radius: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.moon-theme {
    display: none;
}

.home-link:hover > a,
.info-link:hover > a,
.contact-link:hover > a,
.sun-theme:hover > svg,
.moon-theme:hover > svg,
.position-changer-link:hover > svg {
    background: var(--navbar-links-hover-color);
}

.home-link:active > a,
.info-link:active > a,
.contact-link:active > a,
.sun-theme:active > svg,
.moon-theme:active > svg,
.position-changer-link:active > svg  {
    background: var(--navbar-links-active-color);
}


.home-link:hover::after {
    content: 'Home';
    position: absolute;
    background: #353c4e;
    color: orange;
    padding: 3px 5px;
    border-radius: 0.1rem;
    margin-top: 10px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-left: -2px;
}

.info-link:hover::after {
    letter-spacing: 1px;
    content: 'Info';
    position: absolute;
    background: #353c4e;
    color: orange;
    padding: 3px 5px;
    border-radius: 0.1rem;
    margin-top: 10px;
    margin-left: 4px;
    font-size: 1.1rem;
}

.contact-link:hover::after {
    content: 'Contact';
    position: absolute;
    background: #353c4e;
    color: orange;
    padding: 3px 5px;
    border-radius: 0.1rem;
    margin-top: 10px;
    margin-left: -12px;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.sun-theme:hover::after,
.moon-theme:hover::after {
    content: 'Theme';
    position: absolute;
    background: #353c4e;
    color: orange;
    padding: 3px 5px;
    border-radius: 0.1rem;
    margin-top: 10px;
    font-size: 1.1rem;
    margin-left: -6px;
    letter-spacing: 1px;
}

.position-changer-link:hover::after {
    /* content: 'Change the position of navbar'; */
    content: 'Down';
    position: absolute;
    background: #353c4e;
    color: orange;
    padding: 3px 5px;
    border-radius: 0.1rem;
    margin-top: 10px;
    text-align: center;
    width: max-content;
    font-size: 1.1rem;
}

.home-link > a > svg,
.info-link > a > svg,
.contact-link > a > svg,
.sun-theme > svg,
.moon-theme > svg,
.position-changer-link > svg {
    fill: #aaaaaa;
    transition: 100ms linear;
}

.home-link:hover > a > svg,
.info-link:hover > a > svg,
.contact-link:hover > a > svg,
.sun-theme:hover > svg,
.moon-theme:hover > svg,
.position-changer-link:hover > svg {
    fill: white;
}

.home-link:hover,
.info-link:hover,
.contact-link:hover,
.sun-theme:hover > svg,
.moon-theme:hover > svg,
.position-changer-link:hover > svg {
    border-bottom: 1px solid orange;
    border-radius: 0.2rem;
}

/* SECTIONS */

.container {
    width: 100%;
    height: calc(100% - 65px);
    margin-top: 65px;
    display: flex;
    justify-content: center;
    position: fixed;
}

.home-section {
    margin-top: 6px;
    width: 1300px;
    height: 600px;
    background: #1D1E2C;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.492);
    border-radius: 0.3rem;
    position: absolute;
    left: 6%;
    z-index: 10;
    transition: 300ms linear;
    border: 1px solid rgba(222,222,222,0.1);
}

.info-section {
    transition: 300ms linear;
    left: -85%;
    position: absolute;
    margin-top: 6px;
    width: 1300px;
    height: 600px;
    background: #363946;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.492);
    border-radius: 0.3rem;
    z-index: 10;
    border: 1px solid rgba(222,222,222,0.1);
}

.contact-section {
    transition: 300ms linear;
    right: -85%;
    position: absolute;
    margin-top: 6px;
    width: 1300px;
    height: 600px;
    background: #121728;
    box-shadow: 0 10px 4px rgba(0, 0, 0, 0.492);
    border-radius: 0.3rem;
    z-index: 10;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.home-section {
    display: flex;
    align-items: center;
}

.inside-home-section {
    width: 100%;
    height: 100%;
    padding: 4.7% 8%;
    overflow-y: scroll;
}

.inside-home-section::-webkit-scrollbar {
    background: #2f3147;
    width: 6px;
    border-radius: 5rem;
    display: none;
}

.inside-home-section::-webkit-scrollbar-thumb:hover {
    background: #ffffff;
} 

.inside-home-section::-webkit-scrollbar-thumb {
    background: rgb(110, 110, 110);
    border-radius: 1rem;
}

.software-text {
    color: rgb(66, 161, 255);
    font-family: var(--navbar-fonts);
    text-transform: uppercase;
}

.inside-home-section > h1 {
    font-size: 2.5rem;
    color: white;
    font-family: var(--navbar-fonts2);
    letter-spacing: 1px;
    font-weight: 500;
    color: rgb(98, 255, 0);
}

.inside-home-section > p {
    font-size: 1.5rem;
    color: white;
    margin-top: 30px;
}

.home-scroll-hint {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #161621;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(81, 81, 81, 0.3);
}




